*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
}
section{
display: flex;
width: 85%;
}

section img{
    display: flex;
    width: 0;
    flex: 1;
    object-fit: cover;
    cursor: pointer;
    aspect-ratio: 2/3;
    opacity: 0.8;
    transition: 1s ease-in;
}

 section img:hover{
  opacity: 1;
  transform: scale(1.3);
  filter: contrast(120%);
  width: 20%;

}

/*mirar propiedad aspect ratio y filter